
/YukiYume.GitHub.suo
/YukiYume.GitHub/bin/
/YukiYume.GitHub/obj/
/YukiYume.GitHub/YukiYume.GitHub.csproj.user
/YukiYume.GitHub.Tests/bin/
/YukiYume.GitHub.Tests/obj/
/YukiYume.GitHub.Tests/YukiYume.GitHub.Tests.csproj.user