
_ReSharper.YukiYume.GitHub/
YukiYume.GitHub.5.0.resharper.user
/YukiYume.GitHub.suo
/YukiYume.GitHub/bin/
/YukiYume.GitHub/obj/
/YukiYume.GitHub/YukiYume.GitHub.csproj.user
/YukiYume.GitHub.Tests/bin/
/YukiYume.GitHub.Tests/obj/
/YukiYume.GitHub.Tests/YukiYume.GitHub.Tests.csproj.user
/Lib/log4net.xml
/Lib/Ninject.Core.pdb
/Lib/Ninject.Core.xml
/Lib/nunit.framework.xml